html {
    --anim8-time: .5s;
    --anim8: none;
}

/* grid  */

.sequence-container {
    display: inline-grid;
    grid-template-columns: 6% 6% 6% 6% 6% 6% 6% 6% 6% 6% 6% 6% 6% 6% 6% 6%;
    grid-column-gap: 10px;
}

.sequence-item {
    grid-column-start: 1;
    grid-column-end: 16;
}


/* animation */

.tempo-blink {
    height: 200px;
    width: 200px;
    background-color: black;
    animation: var(--anim8) var(--anim8-time) infinite;
}

@keyframes blinker {
    10% {
        background-color: red;
    }
    11% {
        background-color: black;
    }
}

.seq-led-blink {
    
}

